.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navigation-wrap{
  background-color: black;
  color: white;
}

.navigation{
  margin: 0;
  padding: 20px;
  width: 50%;
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.navigation a{
  color: white;
  text-decoration: none;
}

.flex{
  display: flex;
}

.flex-column{
  flex-direction: column;
}

.justC-center{
  justify-content: center;
}

.fs-42{
  font-size: 42px;
}

.p-10{
  padding: 10px;
}
.m-10{
  margin: 10px;
}

.pageContent{
  padding: 10px;
  position: relative;
}

li{
  list-style-type: none;
}

.airplanePage {
  height: 90vh;
  background: url("./static/landscape.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: bisque;
}

.cardWrapper{
  width: 50%;
  padding: 10px;
}

.cardContent{
  display: flex;
  padding: 20px;
  flex-direction: column;
  background-color: rgba(255,255,255,.1);
  border: 1px solid rgba(255,255,255,.2);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  transition: background-color .25s ease,transform .25s ease,border-color .25s ease;
}

.routComponent{
  display: flex;
}

.w-50{
  width: 50%;
}

.w-100{
  width: 100%;
}


.shortName{
  text-transform: Uppercase;
}

.citiesSearch, .react-datepicker__input-container input {
  font-size: 24px;
  color: #111;
  width: 90%;
  height: 100%;
  padding: 10px;
  border-radius: 10px 0 0 0;
}
.citiesSearch:focus-visible {
  border-radius: 10px 0 0 0;
}

.citiesSearch:focus {
  border-radius: 10px 0 0 0;
}

.selectOtherBtn{
  align-self: flex-end;
  padding: 5px 10px;
  font-family: sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
  text-decoration: none;
}


.shotComponent{
  display: flex;
  margin-bottom: 11px;
}
.itemShotComponent{
  width: 10px;
  height: 10px;
  background: white;
  margin-right: 10px;
}

.search-btn{
  border: 1px solid #fff;
  border-radius: 10px;
  font-size: 24px;
  padding: 0 20px;
  margin: 10px;
  box-shadow: 0 6px 10px 0 rgb(0 0 0 / 25%);
  color: #fff;
  background: rgba(255,255,255,.1);
  backdrop-filter: blur(15px);
  align-self: flex-end;
  transition: opacity .25s ease,transform .25s ease,background-color .25s ease;
  line-height: 2.8;
}
.report-message{
  background-color: #080705;
  color: white;
  margin: 0;
  padding: 20px;
}
.spin-wrapper{
  position: relative;
  width: 100%;
  height: 100vh;
  background: #080705;
}
.spinner{
  position: absolute;
  height: 60px;
  width: 60px;
  border: 3px solid transparent;
  border-top-color: #A04668;
  top: 50%;
  left: 50%;
  margin: -30px;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}
  .spinner:before, .spinner:after{
    content:'';
    position: absolute;
    border: 3px solid transparent;
    border-radius: 50%;
  }
  
  .spinner:before{
    border-top-color: #254E70;
    top: -12px;
    left: -12px;
    right: -12px;
    bottom: -12px;
    animation: spin 3s linear infinite;
  }
  
  .spinner:after{
    border-top-color: #FFFBFE;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;  
    animation: spin 4s linear infinite;
  }

@keyframes spin{
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

.tickets{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 10px;
  border: 1px solid black;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
}

.price{
  margin: 10px;
}

.emptyBasket{
  height: 80vh;
  width: 100%;
  background: url(./static/empty-basket.jpg);
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.airLine{
  align-self: flex-end;
}

.spin-message{
  margin: 0;
  color: #fff;
  padding: 20px;
  text-align: center;
}
